{% extends 'baseExtend.html' %}

{% block title %} Signup {% endblock %}

{% block content %}
<video autoplay muted loop id="bg-video">
    <source src="{{url_for('static' , filename='videos/fondo.mp4')}}" type="video/mp4">
    Tu Navegador No Soporta el Video
</video>

<div class="container">
    <img src="{{url_for ('static', filename='img/logo.png')}}" alt="Neobyte Logo" class="logo">

    <form action="{{ url_for ('signup') }}" method="POST">
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="email" name="email" placeholder="Ingresa Un Correo Electronico" required>
    <input type="password" name="password" placeholder="Ingresa Una Contraseña" required>
    </form>
    <p></p>
    <button type="submit">Registrar</button>
    <p>¿Ya Tienes Una Cuenta? <a href="{{ url_for ('login') }}">Inicia Sesión</a></p>
</div>
{% endblock %}
